form{

    text-align: center;

}

ul{
    font-size: 15px;
}

p{
    text-align: center;
    justify-content: center;
    
}

.boton{
    height: 35px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
}

.boton1{
    height: 35px;
    width: 125px;
    font-size: 14px;
    font-weight: bold;
}