body{
    background: linear-gradient(white,#C6DE41, #2D6E7E, #153B44, #071C21);
    font-size: 20px;
}

div{
    margin-left: 150px;
}

.rl{
    color: white;
}

h2{
    color: #1C1427; 
    font-size: 40px; 
    text-shadow: 2px 2px 5px #2D6E7E;
}

h3{
    text-decoration-line: overline underline; 
    text-decoration-color: #032D3C;
}

img{
    border: 1px solid #2D6E7E;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-bottom: 40px;
}

.ita{
    font-style: italic;
}

.bol{
    font-weight: bold;
}

.ep:hover{
    color: #2D6E7E;
}

.ed:hover{
    color: #2C5D63;
}

.con:hover{
    color: #C6DE41;
}

.dg:hover{
    color: #C6DE41;

}

.rl:hover{
    color: #a0b336;
}

