*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0px;
}

header{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}

nav{
    position: relative;
}

.m-0{
    margin: 0px;
}

.logo{
    width: 190x;
    height: 115px;
}

ul{
    list-style-type: none;
    z-index: 999;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;

}

.start{
    justify-content: flex-start;
}

.input-redondo{
    padding: 10px;
    border-radius: 25px;
    border: 1px solid white;
    font-weight: 600;
    background-color: transparent;
    color: white;
}

::placeholder{
    color: white;
}

.botoncito{
    background-color: #52006B;
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.botoncito:hover{
    color: #11E15E;
    background-color: #000000;
    border-radius: 25px;
}

.p-1{
    padding: 2px;
}

.menu-item a:hover{
    color: #11E15E;
    background-color: #000000;
    border-radius: 25px;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 45px;
    text-shadow: 2px 2px 5px #009F45;
}

div.gallery {
    margin-left: 170px;
    border: 2px solid #ccc;
    float:left;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: justify;
  }

div.gallery img {
    width: 100%;
    height: 200px;
}

div.gallery:hover {
    border: 2px solid #777;
}
  
.vm{
    margin-top: 10px;
    float: right;
}


.ord{
    margin-top: 340px;
    margin-bottom: 90px;
}


.footer{
    position: fixed;
}