*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0px;
    background-color:  #52006B;

}

header{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #52006B;
}

.titulo{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 45px;
    text-shadow: 2px 2px 5px #009F45;
}

h2{
    color: #000000;
}
.logo{
    width: 190x;
    height: 115px;
}

::placeholder{
    color: white;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative ;
    margin: 0px;
    list-style-type: none;
    padding: 2px;
}
.menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;
    list-style-type: none;
    z-index: 999;
}

.menu-item a:hover{
    color: #11E15E;
    background-color: #000000;
    border-radius: 25px;
}

.input-buscar{
    padding: 10px;
    border-radius: 25px;
    border: 1px solid white;
    font-weight: 600;
    background-color: transparent;
    color: white;
}

.input-iniciar{
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    background-color: #52006B;
    text-decoration: none;
}

.input-iniciar:hover{
    color: #11E15E;
    background-color: #000000;
    border-radius: 25px;
    list-style: none;
}

.ord{
    margin: auto;
    background-color:#ffffff
  }
  

  .gallery {
    margin-left: 135px;
    border: 2px solid #ccc;
    float:left;
    margin-top: 40px;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
  }

  .gallery p{
    color: #000000;
  }

  .vm{
    margin-top: 10px;
    float: right;
    color: #52006B;
}


  .content{
    background: rgb(255, 255, 255);
    background-color:  #52006B;
    width: 100%;
    max-width: 1200px;
    height: 650px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

  .gallery:hover {
    border: 2px solid rgb(225, 47, 241);
}

.ord img{
    width: 100%;
    height: 200px;
}


footer{
    background-color: #ffffff;
    padding: 10px;
    margin: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

.utp{
    margin: 20px;
    width: 150px;
    height: 150px;
    float: left;
}

.fisc{
    margin: 20px;
    width: 150px;
    height: 150px;
    float: right;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.contenedor img{
    width: 30px;
}

.i-redes{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    margin: auto;
}
.sobre_nst{
    color: white;
    text-align: center;
    font-size: 15px;
}

.grupo-2{
    padding: 15px 10px;
    text-align: center;
}

.grupo-2 small{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.sbn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    text-align: center;
    color:#000000
}

.foto{
    opacity: 0.7;
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url("img/lavanda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.foto p{
    font-family:'Courier New', Courier, monospace;
    background-color: white;
    text-align: center;
    text-transform: none;
    font-size: 110%;
    z-index: 999%;
    font-weight: bolder;
}

.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 350%;
    font-weight: bold;
    color: #ffffff;
    z-index: 999;
    text-shadow: 2px 2px 5px #081e9b;
}

.font p{
    z-index: 999;
}